<div style="padding-left: 100px;">
    <h1 [ngClass]="isPink? 'title-pink':'title-skyblue'"> Add Authors</h1>
    <form [formGroup]="authorsForm" (ngSubmit)="saveAuthor()">
        <div style= "margin: 20px; font-size:x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
          <label for="name" [ngClass]="isPink? 'title-pink':'title-skyblue'">Name:</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div style= "margin: 20px; font-size: x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
          <label for="nationality" [ngClass]="isPink? 'title-pink':'title-skyblue'">Nationality:</label>
          <input type="text" id="nationality" formControlName="nationality" />
        </div>
        <div style= "margin: 20px; font-size: x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
          <label for="birthDate" [ngClass]="isPink? 'title-pink':'title-skyblue'">BirthDate:</label>
          <input type="text" id="birthDate" formControlName="birthDate" />
        </div>
        <button type="submit">Save</button>
      </form>
</div>
<h3 [ngClass]="isPink? 'title-pink':'title-skyblue'"> Form status: {{authorsForm.valid}}</h3>
<h3 [ngClass]="isPink? 'title-pink':'title-skyblue'"> Form json: {{authorsForm.value | json}}</h3>
