<p>students works!</p>


<h1 [ngClass]="isPink? 'title-pink':'title-skyblue'" >{{title}}</h1>

<h2 *ngIf="students.length<1">No Data</h2>
<div style= "margin: 20px; float:right">
  <button class="button" (click)="addStudents()"> Add Student</button>
</div>
<table >
    <thead>
      <tr>
        <th>ID</th> 
        <th>Name</th>
        <th>Department</th>
        <th>RollNumber</th>
        <th>BirthDate</th>
        <th>MobileNumber</th>
      </tr>
    </thead>
    <tbody *ngIf="students.length > 0">
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.department}}</td>
        <td>{{student.rollNumber}}</td>
        <td>{{student.birthDate}}</td>
        <td>{{student.mobileNumber}}</td>
        <td>
          <button (click)="deleteStudent(student.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div div style="
align-self: center;
margin: 20px;
width: 50%;
float:right;
">
    <img src="assets/images/myimg2.png" style="width:5cm; height:5cm; align-self: center; border-radius: 5cm; border-style: double; border-width:5mm; ">
</div>